body {
    background-color: #F4EBD9;
    color: #77685D;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: American Typewriter, serif;
    color: #483D3F;
    text-align: center;
}

a {
    color: #058ED9;
}

header {
    text-align: center;
}

nav {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

p {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}


