* {
    background-color: blanchedalmond;
    color: darkgreen;
}

body, footer {
    text-align: center;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

body {
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color:black;
}

.caption {
    margin: 0;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.pbb {
    font-size: x-small;
}